@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  .breadcrumbs {
    position: relative;
    color: #666;
    user-select: none;
  }
  
  .breadcrumbs:hover {
    color: #00B1EC;
  }

  .breadcrumbs:not(:first-child) {
    margin-left: 1.2rem;
  }
  .breadcrumbs:not(:first-child)::before {
    content: '\00BB';
    position: absolute;
    top: 50%;
    left: -0.6rem;
    transform: translateY(-50%) translateX(-100%);
    color: #fff;
  }
  .explorer-menu {
    @apply py-2 flex flex-wrap items-stretch justify-end gap-2 ;
  }
  .explorer-menu button {
    @apply py-1 px-3 text-sm rounded-lg border border-gray-800 text-gray-500
    hover:border-cyan-800 hover:text-white transition-all duration-300
    active:scale-95 active:border-emerald-600 overflow-hidden min-w-32
    flex items-center gap-2 flex-1
    disabled:grayscale disabled:cursor-not-allowed disabled:!text-gray-600 disabled:!border-gray-800;
  }
  .explorer-menu button > img {
    @apply w-6 h-6;
  }

  .folder-item {
    @apply !relative;
  }

  .folder-item input, .folder-item textarea {
    @apply text-rose-500 read-only:text-white stroke-white selection:text-white selection:bg-lime-500;
  }

  .explorer-modal {
    @apply fixed inset-0 w-full h-full bg-black/60 flex items-center justify-center
    transition-transform duration-500 ease-linear;
  }
  .explorer-body.show {
    @apply scale-100;
  }
  .explorer-body.hide {
    @apply scale-0;
  }
  .explorer-body {
    @apply relative flex flex-col items-center justify-center w-10/12 h-5/6 p-10 bg-cyan-500/10 backdrop-blur-md;
  }
  .explorer-body video {
    @apply absolute w-full h-full top-0 left-0 rounded-lg;
  }
  .explorer-body > button.close {
    @apply absolute right-1 top-1 hidden;
  }

  .folder-item .check {
    @apply absolute top-0 left-0 translate-x-1/2 translate-y-1/2 z-20
  }
}
